/* Fonts

font-family: 'Architects Daughter', cursive;
font-family: 'Bangers', cursive;
font-family: 'Press Start 2P', cursive;


Colors:
    Aqua: #44E1F2
    Pink: #8E3469
    Purple: #2A1F73
    Dark Purple: #131140
    Very Dark purple: #0C1026


*/

* {
    padding: 0px;
    margin: 0;
}

html {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #000000;
    font-family: sans-serif;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    color: #CCCCCC;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 64px;
    font-family: 'Bangers', cursive;
    letter-spacing: 0.25em;
    color: #44E1F2;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

header h2 {
    font-family: 'Press Start 2P', cursive;
    color: #8E3469;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

footer {
    text-align: center;
    
}



/* //////////////////////////////// */
/* MAIN */
/* //////////////////////////////// */
main {
    display: grid;
    width: 100%;
    color: #aaaaaa;
    

    grid-template-columns: 50% 50%;

    grid-template-rows:
                            375px   /* Summary */
                            675px   /* Projects */
                            1275px  /* Work experience */
                            375px   /* Education and Certificates */
                            675px   /* About */
                            575px;   /* Contact */



    grid-template-areas:
                            "summary strengths"
                            "portfolio portfolio"
                            "work-experience work-experience"
                            "education education"
                            "about about"
                            "contact contact"
    ;



}

main h2 {
    font-family: 'Press Start 2P', cursive;
    color: #44E1F2;
    font-size: 14px;
    text-align: center;
    background-color: #131140DD;
    line-height: 75px;
    vertical-align: middle;

}

main h3 {
    font-family: 'Press Start 2P', cursive;
    color: #8E3469;
    font-size: 12px;
    text-align: right;
    padding-right: 10px;
    background-color: #131140BB;
    line-height: 50px;
    vertical-align: middle;

}

.leftText {
    text-align: left;
    padding-left: 10px;
}

main article p{
    padding-left: 20px;
    padding-right: 20px;

}
section p {background-color: #0C1026BB;}
article p {background-color: #0C1026BB;}


/* /////////////////////////////////////////////// */
/* Grid Layout for Elements */
/* /////////////////////////////////////////////// */
/* /////////////////////////////////////////////// */
/* Summary */
/* /////////////////////////////////////////////// */
#summary {
    grid-area: summary;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 300px;
    grid-template-areas: "summary-heading" "summary-text";
}
#summary h3 {
    grid-area: summary-heading;
    text-align: center;
}
#summary div {
    grid-area: summary-text;
    background-color: #0C1026BB;
    text-align: center;
    line-height: 300px;    
}
#summary ul {
    list-style-type: none;
    line-height: 50px;
    height: 100%;
}

#summary li:hover {
    color: #8E3469;
}

#strengths {
    grid-area: strengths;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 300px;
    grid-template-areas: "strengths-heading" "strengths-text";
}
#strengths h3 {
    grid-area: strengths-heading;
    text-align: center;   
}
#strengths div {
    grid-area: strengths-text;
    background-color: #0C1026BB;
    text-align: center;
}
#strengths ul {
    list-style-type: none;
    line-height: 50px;
    height: 100%;
}
#strengths li:hover {
    color: #8E3469;
}




/* /////////////////////////////////////////////// */
/* Portfolio Grid layout */
/* /////////////////////////////////////////////// */
#portfolio {
    grid-area: portfolio;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 
                            75px    /* Portfolio h2 */
                            300px   /* Project 1 */
                            300px;   /* Project 2 */

    grid-template-areas:
                            "portfolio-h2"
                            "portfolio-section1"
                            "portfolio-section2";

}

#portfolio section {
    grid-area: portfolio-section1;
    display: grid;
    grid-template-columns:  50% Calc(100%/6) Calc(100%/3);
    grid-template-rows: 
                            50px    /* Portfolio h3 */
                            250px;   /* Text */

    grid-template-areas:
                            ". portfolio-h3-1 portfolio-h3-1"
                            ". . portfolio-p-1";
                            
}

#portfolio section:nth-of-type(2) {
    grid-area: portfolio-section2;
    display: grid;
    background-image: url();
    grid-template-columns:  Calc(100%/3) Calc(100%/6) 50%;
    grid-template-rows: 
                            50px    /* Portfolio h3 */
                            250px;   /* Text */

    grid-template-areas:
                            "portfolio-h3-2 portfolio-h3-2 ."
                            "portfolio-p-2 . .";
                            

}

#portfolio h2{grid-area: portfolio-h2;}
#portfolio h3{grid-area: portfolio-h3-1;}
#portfolio p{
    grid-area: portfolio-p-1;
    background-color: #0C1026BB;
}

#portfolio section:nth-of-type(2) h3{grid-area: portfolio-h3-2;}
#portfolio section:nth-of-type(2) p{grid-area: portfolio-p-2;}

/* /////////////////////////////////////////////// */
/* Work Experience Grid layout */
/* /////////////////////////////////////////////// */
#work-experience {
    grid-area: work-experience;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 
                            75px    /* Work Experience h2 */
                            300px   /* Work Experience 1 */
                            300px   /* Work Experience 2 */
                            300px   /* Work Experience 3 */
                            300px;   /* Work Experience 4 */

    grid-template-areas:
                            "work-experience-h2"
                            "work-experience-section1"
                            "work-experience-section2"
                            "work-experience-section3"
                            "work-experience-section4";

}

#work-experience section {
    grid-area: work-experience-section1;
    display: grid;
    grid-template-columns:  50% Calc(100%/6) Calc(100%/3);
    grid-template-rows: 
                            50px    /* h3 */
                            250px;   /* Text */

    grid-template-areas:
                            ". work-experience-h3-1 work-experience-h3-1"
                            ". . work-experience-p-1";
                            
}

#work-experience section:nth-of-type(2) {
    grid-area: work-experience-section2;
    display: grid;
    background-image: url();
    grid-template-columns:  Calc(100%/3) Calc(100%/6) 50%;
    grid-template-rows: 
                            50px    /* h3 */
                            250px;   /* Text */

    grid-template-areas:
                            "work-experience-h3-2 work-experience-h3-2 ."
                            "work-experience-p-2 . .";
                            

}

#work-experience section:nth-of-type(3) {
    grid-area: work-experience-section3;
    display: grid;
    background-image: url();
    grid-template-columns:  50% Calc(100%/6) Calc(100%/3);
    grid-template-rows: 
                            50px    /* h3 */
                            250px;   /* Text */

    grid-template-areas:
                            ". work-experience-h3-3 work-experience-h3-3"
                            ". . work-experience-p-3";
                            

}

#work-experience section:nth-of-type(4) {
    grid-area: work-experience-section4;
    display: grid;
    background-image: url();
    grid-template-columns:  Calc(100%/3) Calc(100%/6) 50%;
    grid-template-rows: 
                            50px    /* h3 */
                            250px;   /* Text */

    grid-template-areas:
                            "work-experience-h3-4 work-experience-h3-4 ."
                            "work-experience-p-4 . .";
                            

}

#work-experience section h3 {grid-area: work-experience-h3-1;}
#work-experience section p {grid-area: work-experience-p-1;}
#work-experience section:nth-of-type(2) h3 {grid-area: work-experience-h3-2;}
#work-experience section:nth-of-type(2) p {grid-area: work-experience-p-2;}
#work-experience section:nth-of-type(3) h3 {grid-area: work-experience-h3-3;}
#work-experience section:nth-of-type(3) p {grid-area: work-experience-p-3;}
#work-experience section:nth-of-type(4) h3 {grid-area: work-experience-h3-4;}
#work-experience section:nth-of-type(4) p {grid-area: work-experience-p-4;}




/* //////////////////////////////// */
/* Education */
/* //////////////////////////////// */

#education {
    grid-area: education;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 300px;
    grid-template-areas: "education-heading" "education-text";
}

#education h2 {
    grid-area: education-heading;
    text-align: center;
}
#education p {
    grid-area: education-text;
}

/* //////////////////////////////// */
/* About */
/* //////////////////////////////// */

#about {
    grid-area: about;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 300px 300px;
    grid-template-areas: "about-heading" "about-text-1" "about-text-2";
}

#about h2 {
    grid-area: about-heading;
    text-align: center;
}
#about div {
    grid-area: about-text-1;
    text-align: right;
}

#about div:nth-of-type(2) {
    grid-area: about-text-2;
    text-align: left;
}

/* //////////////////////////////// */
/* Contact */
/* //////////////////////////////// */

#contact {
    grid-area: contact;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 500px;
    grid-template-areas: "contact-heading" "contact-form";
}

#contact h2 {
    grid-area: contact-heading;
    text-align: center;
}
#contact div {
    grid-area: contact-form;
    background-color: #0C1026BB;
}





/* //////////////////////////////// */
/* Tablet */
/* //////////////////////////////// */

@media screen and (min-width: 600px){
    body{
        max-width: 500px;
    }

}

/* //////////////////////////////// */
/* Laptop / PC */
/* //////////////////////////////// */

@media screen and (min-width: 1024px){
    body{
        max-width: 800px;
    }

}




